@import "tailwindcss";



* {
    font-family: "TikTok Sans", sans-serif;
}


select[multiple] {
    height: auto;
    min-height: 100px;
}

select[multiple] option {
    padding: 8px 12px;
}

select[multiple] option:checked {
    background-color: #3b82f6;
    color: white;
}